@page
@model Index2Model
@{
    ViewData["Title"] = "Личный кабинет";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}
<div class="container rounded-4 text-center p-3 mt-3">
    <div class="container  rounded-4">
        <div>
            <h3 class="mt-4">Список заказов</h3>
            <div class="scrollable-table">
                <table class="table table-bordered mt-3">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Email</th>
                            <th>Телефон</th>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Гости</th>
                            <th>Сообщение</th>
                            @if (User.IsInRole("Admin"))
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Reservations != null)
                        {
                            @foreach (var item in Model.Reservations)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.Phone</td>
                                    <td>@item.ReservationDate.ToShortDateString()</td>
                                    <td>@item.ReservationTime</td>
                                    <td>@item.Guests</td>
                                    <td>@item.Message</td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <td>
                                            <a asp-page="/Admin/EditReservation" asp-route-id="@item.Id"
                                                class="btn btn-danger">Редактировать</a>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pb-3">

            @if (User.IsInRole("Admin"))
            {
                <h3 class="mt-4">Меню</h3>
                <div class="scrollable-table">
                    <table class="table table-bordered mt-3">
                        <thead class="table-dark">
                            <tr>
                                <th>Фото</th>
                                <th>Название блюда</th>
                                <th>Ингредиенты</th>
                                <th>Цена</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Dishes != null)
                            {
                                @foreach (var dish in Model.Dishes)
                                {
                                    <tr>
                                        <td><img src="@dish.DishImage" alt="@dish.DishName" width="100"></td>
                                        <td>@dish.DishName</td>
                                        <td>@string.Join(", ", dish.Ingredients)</td>
                                        <td>@dish.Price</td>
                                        <td>
                                            <a asp-page="/Admin/EditMenu" asp-route-id="@dish.DishID"
                                                class="btn btn-danger">Редактировать</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }

            <a href="/Account/Login"><button class="btn btn-dark">Выйти</button></a>
            @* <form method="post" asp-page="/Account/Logout">
                <button type="submit" class="btn btn-dark">Выйти</button>
            </form> *@
        </div>
    </div>
</div>
