@page
@model MyRazorApp.Pages.Admin.AdminUsersModel
@{
    ViewData["Title"] = "Список пользователей";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}

<div class="container rounded-4 text-center p-3 mt-3">
    <h2 class="mb-4">Список пользователей</h2>
    <div class="scrollable-table">
        @* <table class="table table-bordered table-hover text-center align-middle"> *@
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Логин</th>
                    <th>Email</th>
                    <th>Телефон</th>
                    <th>Дата рождения</th>
                    <th>Дата создания</th>
                    <th>Роль</th>
                    <th>Активен</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.UsersList)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.SurName</td>
                        <td>@user.Name</td>
                        <td>@user.Patronomic</td>
                        <td>@user.Login</td>
                        <td>@user.Email</td>
                        <td>@user.Phone</td>
                        <td>@(user.Birthdate?.ToString("dd.MM.yyyy") ?? "-")</td>
                        <td>@user.CreationDate.ToString("dd.MM.yyyy")</td>
                        <td>@(user.UserRole?.Name ?? "—")</td>
                        <td>
                            @if (user.IsActive)
                            {
                                <span class="badge bg-success">Да</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Нет</span>
                            }
                        </td>
                        <td>
                            @* <a asp-page="/Admin/EditReservation" asp-route-id="@user.Id"
                                class="btn btn-danger">Редактировать</a>
                            <form method="post" asp-page="/Admin/DeleteUser" asp-route-id="@user.Id"
                                onsubmit="return confirm('Вы уверены, что хотите удалить бронирование?');"
                                style="display:inline;"> *@

                            <a asp-page="/Admin/EditUser" asp-route-id="@user.Id"
                                class="btn p-0 border-0 bg-transparent"><img src="/image/pen.png" alt="Редактировать"
                                    style="width:30px; height:30px;"></a>

                            <form method="post" asp-page="/Admin/DeleteUser" asp-route-id="@user.Id"
                                onsubmit="return confirm('Вы уверены, что хотите удалить пользователя?');"
                                style="display:inline;">
                                @* <button type="submit" class="btn btn-secondary">Удалить</button> *@
                                <button type="submit" class="btn p-0 border-0 bg-transparent">
                                    <img src="/image/delete.png" alt="Удалить" style="width:30px; height:30px;">
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class=" p-3"></div>
    <a href="/Admin/AdminPanel"><button class="btn btn-dark">Назад</button></a>
    <a asp-page="/Admin/AddUsers" class="btn btn-success">Добавить пользователя</a>
</div>
</div>
