@page
@model MenuAdminModel
@{
    ViewData["Title"] = "Личный кабинет";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}
<div class="container rounded-4 text-center p-3 mt-3">
    <div class="container  rounded-4">
        <div>
            <h3 class="pt-3">Меню</h3>
            <div class="scrollable-table">
                <table class="table table-bordered mt-3">
                    <thead class="table-dark">
                        <tr>
                            <th>Фото</th>
                            <th>Название блюда</th>
                            <th>Ингредиенты</th>
                            <th>Цена</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Dishes != null)
                        {
                            @foreach (var dish in Model.Dishes)
                            {
                                <tr>
                                    <td><img src="@dish.DishImage" alt="@dish.DishName" width="100"></td>
                                    <td>@dish.DishName</td>
                                    <td>@string.Join(", ", dish.Ingredients)</td>
                                    <td>@dish.Price</td>
                                    <td>
                                        <a asp-page="/Admin/EditMenu" asp-route-id="@dish.DishID"
                                            class="btn btn-danger">Редактировать</a>
                                        <form method="post" asp-page-handler="Delete" asp-route-id="@dish.DishID"
                                            onsubmit="return confirm('Удалить блюдо?')" style="display:inline;">
                                            <button type="submit" class="btn btn-secondary">Удалить</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
            <div class=" mt-3 pb-3">
                <a href="/Admin/AdminPanel"><button class="btn btn-dark">Назад</button></a>
                <a asp-page="/Account/NotF404" class="btn btn-success">Добавить блюдо</a>
            </div>
        </div>
    </div>
</div>
</div>
