@page
@model ZakazAdminModel
@{
    ViewData["Title"] = "Личный кабинет";
    Layout = "/Pages/Shared/_LayoutRest.cshtml";
}
<div class="container rounded-4 text-center p-3 mt-3">
    <div class="container  rounded-4">
        <div>
            <h3>Список заказов</h3>
            <div class="scrollable-table">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Email</th>
                            <th>Телефон</th>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Гости</th>
                            <th>Сообщение</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Reservations != null)
                        {
                            @foreach (var item in Model.Reservations)
                            {                                
                                <tr class="@(item.ReservationDate.Date > DateTime.Today ? "expired" : "")">
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.Phone</td>
                                    <td>@item.ReservationDate.ToShortDateString()</td>
                                    <td>@item.ReservationTime</td>
                                    <td>@item.Guests</td>
                                    <td>@item.Message</td>
                                    <td>
                                        <a asp-page="/Admin/EditReservation" asp-route-id="@item.Id"
                                            class="btn btn-danger">Редактировать</a>
                                        <form method="post" asp-page="/Admin/DeleteReservation" asp-route-id="@item.Id"
                                            onsubmit="return confirm('Вы уверены, что хотите удалить бронирование?');"
                                            style="display:inline;">
                                            <button type="submit" class="btn btn-secondary">Удалить</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    <div class=" p-3">
        <a href="/Admin/AdminPanel"><button class="btn btn-dark">Назад</button></a>
        <a asp-page="/Admin/AddReservation" class="btn btn-success">Добавить заказ</a>
    </div>
    </div>
</div>
</div>
